<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <!-- Content Header -->
    <app-header>Loading header...</app-header>

    <!-- Left side column. contains the logo and sidebar -->
    <app-navigation-sidebar>Loading navigation sidebar...</app-navigation-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Router Outlet. Displays routed components. -->
      <router-outlet></router-outlet>

    </div>
     <!--/.content-wrapper -->

    <!-- Content Footer -->
    <app-footer>Loading footer...</app-footer>

    <!-- Control Sidebar -->
    <app-control-sidebar>Loading control sidebar...</app-control-sidebar>
  </div>
  <!-- ./wrapper -->
</body>